@mixin section-header {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-scale-gray-0;
  text-align: center;
  opacity: 1;
  text-shadow: 2rem 2rem 4rem rgb(154, 221, 157);
  padding: 5rem 0;
  z-index: 2;
}
