// Color source https://github.com/

$color-scale-black: #1b1f23;
$color-scale-white: #fff;
$color-scale-gray-0: #fafbfc;
$color-scale-gray-1: #f6f8fa;
$color-scale-gray-2: #e1e4e8;
$color-scale-gray-3: #d1d5da;
$color-scale-gray-4: #959da5;
$color-scale-gray-5: #6a737d;
$color-scale-gray-6: #586069;
$color-scale-gray-7: #444d56;
$color-scale-gray-8: #2f363d;
$color-scale-gray-9: #24292e;
$color-scale-blue-0: #f1f8ff;
$color-scale-blue-1: #dbedff;
$color-scale-blue-2: #c8e1ff;
$color-scale-blue-3: #79b8ff;
$color-scale-blue-4: #2188ff;
$color-scale-blue-5: #0366d6;
$color-scale-blue-6: #005cc5;
$color-scale-blue-7: #044289;
$color-scale-blue-8: #032f62;
$color-scale-blue-9: #05264c;
$color-scale-green-0: #f0fff4;
$color-scale-green-1: #dcffe4;
$color-scale-green-2: #bef5cb;
$color-scale-green-3: #85e89d;
$color-scale-green-4: #34d058;
$color-scale-green-5: #28a745;
$color-scale-green-6: #22863a;
$color-scale-green-7: #176f2c;
$color-scale-green-8: #165c26;
$color-scale-green-9: #144620;
$color-scale-green-rgba-1: rgba(62, 228, 75, 0.8);
$color-scale-yellow-0: #fffdef;
$color-scale-yellow-1: #fffbdd;
$color-scale-yellow-2: #fff5b1;
$color-scale-yellow-3: #ffea7f;
$color-scale-yellow-4: #ffdf5d;
$color-scale-yellow-5: #ffd33d;
$color-scale-yellow-6: #f9c513;
$color-scale-yellow-7: #dbab09;
$color-scale-yellow-8: #b08800;
$color-scale-yellow-9: #735c0f;
$color-scale-orange-0: #fff8f2;
$color-scale-orange-1: #ffebda;
$color-scale-orange-2: #ffd1ac;
$color-scale-orange-3: #ffab70;
$color-scale-orange-4: #fb8532;
$color-scale-orange-5: #f66a0a;
$color-scale-orange-6: #e36209;
$color-scale-orange-7: #d15704;

// Color Credit: https://visme.co/blog/website-color-schemes/
// Coler set 1
$cs1__primary-color--1: #def2f1;
$cs1__primary-color--2: #feffff;
$cs1__primary-color--3: #bab2b5;
$cs1__secondary-color--1: #112d32;
$cs1__secondary-color--2: #17252a;
$cs1__secondary-color--3: #2b7a78;
$cs1__secondary-color--4: #3aafa9;
$cs1__warning-color--1: #2e151b;
$cs1__warning-color--2: #da7893;
// Color set 2 -- for dark mode
$cs2__primary-color--1: #474b4f;
$cs2__primary-color--2: #6b6e70;
$cs2__primary-color--3: #222629;
$cs2__secondary-color--1: #61892f;
$cs2__secondary-color--2: #86c232;
$cs2__secondary-color--3: #14a76c;
$cs2__warning-color--1: #f13c20;
// Coler set 3
$cs3__primary-color--1: #e3e2df;
$cs3__primary-color--2: #e3afbc;
$cs3__secondary-color--1: #ee4c7c;
$cs3__secondary-color--2: #9a1750;
$cs3__secondary-color--3: #5d001e;
// color set 4
$cs4__primary-color--1: #c5c6c7;
$cs4__primary-color--2: #66fcf1;
$cs4__primary-color--3: #45a29e;
$cs4__secondary-color--1: #1f2833;
$cs4__secondary-color--2: #0b0c10;
// color set 5
$cs5__primary-color--1: #5d5c61;
$cs5__primary-color--2: #379683;
$cs5__secondary-color--1: #7395ae;
$cs5__secondary-color--2: #557a95;
$cs5__secondary-color--3: #b1a296;
// font size
$font-size--1: 0.5rem;
$font-size--2: 0.75rem;
$font-size--3: 1rem;
$font-size--4: 1.25rem;
$font-size--5: 1.5rem;
$font-size--6: 1.75rem;
$font-size--7: 2rem;
// padding
$padding-sm: 2px;
$padding-1: 0.5rem;
$padding-2: 0.75rem;
$padding-3: 1rem;
$padding-4: 1.25rem;
$padding-5: 1.5rem;
$padding-6: 1.75rem;
$padding-7: 2rem;
//margin
$margin-sm: 2rem;
$margin-1: 0.5rem;
$margin-2: 0.75rem;
$margin-3: 1rem;
$margin-4: 1.25rem;
$margin-5: 1.5rem;
$margin-6: 1.75rem;
$margin-7: 2rem;
// sizing
$sm-0: 2px;
$sm-1: 8px;
$sm-2: 10px;
$sm-3: 12px;
$n-1: 16px;
$n-2: 20px;
$n-3: 24px;
$xl-1: 30px;
$xl-2: 35px;
$xl-3: 40px;
