.section-2 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $color-scale-white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .floating-bg {
    display: none;
    width: 150vw;
    height: 150vw;
    background-color: rgba($color-scale-green-4, $alpha: 0.8);
    position: absolute;
    top: -140vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite, slide_bottom 1s ease-in;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba($color-scale-green-4, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 40%;
    }
  }

  & .section-heading {
    @include section-header;
  }

  & .porject-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 70%;

    & .project-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      padding: 2rem;
      margin: 2rem;
      background-color: $color-scale-green-2;
      border-radius: 1rem;
      width: 40rem;

      & .project-img-container {
        display: flex;
        & img {
          object-fit: cover;
          border-radius: 0.5rem;
          position: relative;
          width: 30rem;
          height: 30rem;
        }
      }

      .project-card-heading {
        margin-top: 2rem;
        font-family: "Russo One", sans-serif;
        font-size: 2.5rem;
      }

      .project-card-description {
        padding: 0.5rem 2rem;
        font-size: 1.8rem;
        text-align: justify;
      }

      .used-language {
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
          padding: 0.5rem;
        }
      }

      .project-card-links {
        & a {
          padding: 0.5rem;
          color: greenyellow;
        }
      }
    }
  }
}
