.section-2 {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $color-scale-white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .floating-bg {
    width: 150vw;
    height: 150vw;
    background-color: rgba($color-scale-green-4, $alpha: 0.8);
    position: absolute;
    top: -140vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite, slide_bottom 1s ease-in;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba($color-scale-green-4, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 40%;
    }
  }

  & .section-heading {
    @include section-header;
  }

  & .project-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    flex-wrap: wrap;
    perspective: 70rem;
    padding: 20rem 2rem;
    position: relative;
    z-index: 20;

    & .project-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      padding: 2rem;
      margin: 2rem;
      background-color: $color-scale-green-2;
      border-radius: 1rem;
      width: 40rem;
      box-shadow: 1rem 1rem 1rem $color-scale-green-1;
      perspective: 40rem;
      transition: transform 0.5s ease-in;
      opacity: 0.8;
      &:hover {
        transform: rotateX(0deg) scale(1) translateY(-1rem);
        box-shadow: 1rem 1rem 2rem $color-scale-green-1,
          -0.75rem -0.75rem 1.5rem $color-scale-green-1;
        z-index: 3;
        background-color: $color-scale-green-1;
        opacity: 1;

        & .project-img {
          box-shadow: 1rem 1rem 2rem $color-scale-green-3;
          transform: rotateY(0deg) scale(1.1);
          transition: transform 0.6s ease-in;
        }
      }

      & .project-img {
        object-fit: cover;
        border-radius: 0.5rem;
        width: 35rem;
        height: 30rem;
        transform: rotateY(10deg);
        transition: transform 0.3s ease-in;
      }
      .project-card-heading {
        margin-top: 2rem;
        font-family: "Russo One", sans-serif;
        font-size: 2.5rem;
        color: $color-scale-green-4;
      }

      .btn-project-details {
        right: 3%;
        bottom: 3%;
        height: 2rem;
        width: 2rem;
        background-color: rgb(127, 230, 179);
        position: absolute;
        z-index: 20;
        border-radius: 20%;
        box-shadow: 0.2rem 0.2rem 0.4rem $color-scale-green-5;
        cursor: pointer;

        &.change {
          box-shadow: 0.2rem 0.2rem 0.4rem #000;
          background-color: rgb(230, 127, 127);
        }
      }

      .project-details {
        padding: 0.5rem 2rem;
        font-size: 3rem;
        text-align: center;
        position: absolute;
        padding: 2rem 2rem;
        background-color: rgba($color-scale-green-5, $alpha: 0.9);
        color: $color-scale-white;
        height: 100%;
        border-radius: 2%;
        transition: all 0.5s ease-in;

        &.change {
          transform: scale(0);
          border-radius: 100%;
          transform-origin: bottom right;
        }

        & .used-language {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          top: 35rem;
          padding: 2rem;
          flex-wrap: wrap;
          position: absolute;
          z-index: 10;
          font-size: 1rem;

          & i {
            color: $color-scale-green-2;
            padding: 0.5rem;
          }
        }
      }
    }
    .project-card-links {
      padding-top: 2rem;
      & a {
        padding-top: 2rem;
      }
      & .card-link__live-demo {
        color: $color-scale-blue-3;
      }

      & .card-link__source-code {
        color: $color-scale-gray-6;
      }

      & i {
        margin: 1rem;
      }
    }
  }
  .section-bottom-bg {
    width: 150vw;
    height: 150vw;
    background-color: rgba($color-scale-green-4, $alpha: 0.8);
    position: absolute;
    top: 50.5vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite, slide_bottom 1s ease-in;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      background-color: rgba($color-scale-green-4, $alpha: 0.2);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 40%;
    }
  }
}
