@media (max-width: 1920px) {
  // common styling
  .section-1 {
    .floating-bg {
      top: 40vw;
    }
    .programming-language {
      top: 43vw;
    }
    .landing-page-social {
      top: 50vw;
    }
  }

  .section-2 {
    .section-heading {
      font-size: 7rem;
    }
    .section-bottom-bg {
      top: 90vw;
    }
  }

  .section-3 {
    .section-heading {
      font-size: 7rem;
    }

    .section-bottom-bg {
      top: 46vw;
    }
  }
  .section-4 {
    .section-heading {
      font-size: 7rem;
    }

    ul {
      top: 25%;
      font-size: 3.5rem;
    }

    .section-bottom-bg {
      top: 46vw;
    }
  }

  .section-5 {
    .section-heading {
      font-size: 7rem;
    }
    .section-bottom-bg {
      top: 46vw;
    }
    .aboutMe-content {
      img {
        height: 350px;
        width: 350px;
      }
      article {
        font-size: 3rem;
      }
    }
  }
  .section-6 {
    .section-heading {
      font-size: 7rem;
    }
    .section-bottom-bg {
      top: 46vw;
    }
  }
}
