@media only screen and (max-width: 350px) {
  html {
    font-size: 40% !important;
  }

  .section-1 {
    .section-1-content {
      height: auto;
      top: 35vw;
    }

    & .floating-bg {
      top: 50rem;
    }

    .programming-language {
      top: 60rem;
    }

    .landing-page-social {
      top: 65rem;
    }
  }
}
