@media only screen and (max-width: 750px) {
  html {
    font-size: 50% !important;
  }

  .section-1 {
    .section-1-content {
      top: 15vw;
    }

    & .floating-bg {
      top: 45vw;
    }

    .programming-language {
      top: 55vw;
    }

    .landing-page-social {
      top: 60vw;
    }
  }
}
