@media (max-width: 1400px) {
  // common styling
  .wb-body {
    background-color: $color-scale-white;
    font-size: 2rem;
    padding: 1rem 5rem;

    h1,
    h2,
    h3,
    h4 {
      font-weight: 700;
      color: $color-scale-green-5;
      text-align: center;
      padding: 1.5rem;
      font-size: 3rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    p {
      text-align: justify;
    }
  }

  .note {
    font-size: 1.5rem;
  }
  // End of common styling

  // section -1
  .section-1 {
    .section-1-content {
      font-size: 6rem;
      top: 10vw;
      width: 70rem;

      & h3 {
        font-size: 5rem;
      }
    }

    & .floating-bg {
      top: 30vw;
    }

    .programming-language {
      top: 32vw;

      & i {
        font-size: 4rem;
      }
    }

    .landing-page-social {
      top: 39vw;

      & i {
        font-size: 3rem;
      }
    }
  }

  // End of section 1

  // section 2
  .section-2 {
    height: auto;
    padding: 0rem 1rem;

    & .section-heading {
      font-size: 4rem;
    }

    & .floating-bg {
      top: -142vw;
    }

    & .project-card-container {
      flex-wrap: wrap;
      perspective: 70rem;
      padding: 5rem 2.5rem 15rem 2.5rem;

      & .project-card {
        width: 30rem;
        position: relative;
        box-shadow: 1rem 1rem 1rem $color-scale-green-1;
        perspective: 40rem;
        transition: transform 0.5s ease-in;
        opacity: 0.8;

        &:hover {
          transform: rotateX(0deg) scale(1) translateY(-1rem);
          box-shadow: 1rem 1rem 2rem $color-scale-green-2,
            -0.75rem -0.75rem 1.5rem $color-scale-green-2;
          z-index: 3;
          background-color: $color-scale-green-1;
          opacity: 1;

          & .project-img {
            box-shadow: 1rem 1rem 2rem $color-scale-green-3;
            transform: rotateY(0deg) scale(1.1);
          }
        }

        & .project-img {
          width: 25rem;
          height: 25rem;
          box-shadow: 1rem 1rem 1.5rem #aaa, -0.75rem -0.75rem 0.75rem #eee;
          transform: rotateY(10deg);
          transition: transform 0.3s ease-in;
        }
        .project-card-heading {
          font-size: 2rem;
        }

        .project-details {
          padding: 0.5rem 2rem;
          font-size: 1.8rem;
          text-align: center;
          position: absolute;
          padding: 2rem 2rem;
          background-color: rgba($color-scale-green-5, $alpha: 0.9);
          color: $color-scale-white;
          height: 100%;
          border-radius: 2%;
          transition: all 0.5s ease-in;

          &.change {
            transform: scale(0);
            border-radius: 100%;
            transform-origin: bottom right;
          }

          .used-language {
            padding: 0;
            top: 25rem;
            padding: 2rem;
            flex-wrap: wrap;
            position: absolute;
            z-index: 10;

            & i {
              color: $color-scale-green-1;
            }
          }
        }

        .project-card-links {
          padding-top: 1rem;
          font-size: 0.5rem;
          & i {
            font-size: 2rem;
            padding-top: 1rem;
            margin: 0.5rem;
          }
        }
      }
    }
    .section-bottom-bg {
      top: 80vw;
    }
  }
  // end of section 2

  // section 3
  .section-3 {
    padding: 1rem;
    & .section-heading {
      padding: 3rem 0;
      font-size: 4rem;
    }
    & .floating-bg {
      top: -142vw;
    }

    ul {
      flex-wrap: wrap;
      top: 25rem;
      padding: 0 5rem;
      font-size: 1.5rem;

      & li {
        box-shadow: 1rem 1rem 3rem $color-scale-green-2;

        &:hover {
          box-shadow: 1rem 1rem 1.5rem $color-scale-green-4;
        }
      }
    }
    .section-bottom-bg {
      top: 38vw;
    }
  }
  //End of section 3

  // section 4
  .section-4 {
    padding: 1rem;
    & .section-heading {
      padding: 5rem 0;
      font-size: 4rem;
    }
    & .floating-bg {
      top: -142vw;
    }

    ul {
      // background-color: $color-scale-white;
      flex-wrap: wrap;
      top: 20rem;
      padding: 0 2rem;
      font-size: 1.5rem;
      & li {
        background-color: $color-scale-green-3;
        padding: 2rem;

        &:hover {
          box-shadow: 1rem 1rem 1.5rem $color-scale-green-4;
        }
      }
    }
    .section-bottom-bg {
      top: 38vw;
    }
  }
  // End of section 4

  // section 5
  .section-5 {
    .section-heading {
      padding: 0 0;
      font-size: 4rem;
    }

    .floating-bg {
      top: -142vw;
    }
    .aboutMe-content {
      img {
        height: 200px;
        width: 200px;
        transform: translate(70%, 5%);
      }

      & article {
        padding: 0 10rem;
        font-size: 2rem;
      }
    }
    .section-bottom-bg {
      top: 38vw;
    }
  }
  // End of section 5

  // section 6
  .section-6 {
    .section-heading {
      padding: 0 0;
      font-size: 4rem;
    }

    .contact-section-main {
      .contact-social {
        transform: translateY(-20%);
        text-align: center;
        h2 {
          padding: 1rem;
          font-size: 3rem;
          font-weight: 600;
        }

        i {
          color: $color-scale-green-4;
          padding: 1rem;
          font-size: 5rem;

          &:hover {
            color: $color-scale-green-3;
          }
        }
      }
    }

    .floating-bg {
      top: -142vw;
    }

    .section-bottom-bg {
      top: 38vw;
    }
    footer {
      position: relative;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}
//End of section 6
