@media (orientation: landscape) and (max-width: 1150px) {
  html {
    font-size: 48%;
  }

  .section-1 {
    .section-1-content {
      font-size: 4rem;
      top: 10vw;
      width: 70rem;

      & h3 {
        font-size: 3rem;
      }
    }

    & .floating-bg {
      top: 28vw;
    }

    .programming-language {
      top: 32vw;

      & i {
        font-size: 3rem;
      }
    }

    .landing-page-social {
      top: 40vw;

      & i {
        font-size: 2rem;
      }
    }
  }
  .section-2 {
    height: auto;
    .section-heading {
      font-size: 3.5rem;
    }

    .project-card-container {
      padding: 5rem 2.5rem 15rem 2.5rem;
      .project-card {
        width: 30rem;
        .project-img {
          width: 25rem;
          height: 25rem;
        }
        .project-card-heading {
          font-size: 2rem;
        }
        .project-details {
          font-size: 2rem;
          .used-language {
            top: 25rem;
          }
        }
      }
    }
    .section-bottom-bg {
      top: 158rem;
    }
  }

  .section-3 {
    .section-heading {
      font-size: 3.5rem;
    }

    ul {
      top: 15rem;
      justify-content: flex-start;
      li {
        font-size: 2rem;
      }
    }
    .section-bottom-bg {
      top: 55rem;
    }
  }
  .section-4 {
    padding: 1rem;
    .section-heading {
      font-size: 3.5rem;
    }

    ul {
      top: 25%;
      font-size: 2rem;
      li {
        padding: 2rem;
      }
    }

    .section-bottom-bg {
      top: 55rem;
    }
  }

  .section-5 {
    padding: 2rem;
    .section-heading {
      font-size: 3.5rem;
    }
    .section-bottom-bg {
      top: 55rem;
    }
    .aboutMe-content {
      img {
        height: 150px;
        width: 150px;
        transform: translate(50%, 0%);
      }
      article {
        padding: 0 5rem;
        font-size: 1.5rem;
      }
    }
  }
  .section-6 {
    padding: 2rem 0 5rem 0;
    .section-heading {
      font-size: 3.5rem;
    }

    .contact-section-main {
      .contact-social {
        h2 {
          font-size: 2.5rem;
        }
        i {
          font-size: 3rem;
        }
      }
    }

    .section-bottom-bg {
      top: 55rem;
    }

    footer {
      font-size: 1rem;
    }
  }
}

// // for potrait mode not complete
// @media (orientation: portrait) and (width: 1251px) and (min-height: 1000px) {
//   html {
//     font-size: 48%;
//   }

//   .section-1 {
//     .section-1-content {
//       font-size: 6rem;
//       top: 10vw;
//       width: 70rem;

//       & h3 {
//         font-size: 3rem;
//       }
//     }

//     & .floating-bg {
//       top: 28vw;
//     }

//     .programming-language {
//       top: 32vw;

//       & i {
//         font-size: 3rem;
//       }
//     }

//     .landing-page-social {
//       top: 40vw;

//       & i {
//         font-size: 2rem;
//       }
//     }
//   }
//   .section-2 {
//     height: auto;
//     .section-heading {
//       font-size: 3.5rem;
//     }

//     .project-card-container {
//       padding: 5rem 2.5rem 15rem 2.5rem;
//       .project-card {
//         width: 30rem;
//         .project-img {
//           width: 25rem;
//           height: 25rem;
//         }
//         .project-card-heading {
//           font-size: 2rem;
//         }
//         .project-details {
//           font-size: 2rem;
//           .used-language {
//             top: 25rem;
//           }
//         }
//       }
//     }
//     .section-bottom-bg {
//       top: 158rem;
//     }
//   }

//   .section-3 {
//     .section-heading {
//       font-size: 3.5rem;
//     }

//     ul {
//       top: 15rem;
//       justify-content: flex-start;
//       li {
//         font-size: 2rem;
//       }
//     }
//     .section-bottom-bg {
//       top: 55rem;
//     }
//   }
//   .section-4 {
//     padding: 1rem;
//     .section-heading {
//       font-size: 3.5rem;
//     }

//     ul {
//       top: 25%;
//       font-size: 2rem;
//       li {
//         padding: 2rem;
//       }
//     }

//     .section-bottom-bg {
//       top: 55rem;
//     }
//   }

//   .section-5 {
//     padding: 2rem;
//     .section-heading {
//       font-size: 3.5rem;
//     }
//     .section-bottom-bg {
//       top: 55rem;
//     }
//     .aboutMe-content {
//       img {
//         height: 150px;
//         width: 150px;
//         transform: translate(50%, 0%);
//       }
//       article {
//         padding: 0 5rem;
//         font-size: 1.5rem;
//       }
//     }
//   }
//   .section-6 {
//     padding: 2rem 0 5rem 0;
//     .section-heading {
//       font-size: 3.5rem;
//     }

//     .contact-section-main {
//       .contact-social {
//         h2 {
//           font-size: 2.5rem;
//         }
//         i {
//           font-size: 3rem;
//         }
//       }
//     }

//     .section-bottom-bg {
//       top: 55rem;
//     }

//     footer {
//       font-size: 1rem;
//     }
//   }
// }
