@media only screen and (max-width: 1150px) {
  .section-1 {
    .section-1-content {
      font-size: 4rem;
      top: 10vw;
      width: 70rem;

      & h3 {
        font-size: 3rem;
      }
    }

    & .floating-bg {
      top: 28vw;
    }

    .programming-language {
      top: 32vw;

      & i {
        font-size: 3rem;
      }
    }

    .landing-page-social {
      top: 40vw;

      & i {
        font-size: 2rem;
      }
    }
  }
  .section-2 {
    .section-heading {
      font-size: 3.5rem;
    }
    .section-bottom-bg {
      top: 110rem;
    }
  }

  .section-3 {
    .section-heading {
      font-size: 3.5rem;
    }

    ul {
      top: 15rem;
    }
    .section-bottom-bg {
      top: 46vw;
    }
  }
  .section-4 {
    .section-heading {
      font-size: 3.5rem;
    }

    ul {
      top: 25%;
      font-size: 1.5rem;
    }

    .section-bottom-bg {
      top: 46vw;
    }
  }

  .section-5 {
    .section-heading {
      font-size: 3.5rem;
    }
    .section-bottom-bg {
      top: 46vw;
    }
    .aboutMe-content {
      img {
        height: 150px;
        width: 150px;
        transform: translate(50%, 0%);
      }
      article {
        padding: 0 5rem;
        font-size: 1.5rem;
      }
    }
  }
  .section-6 {
    .section-heading {
      font-size: 3.5rem;
    }
    .section-bottom-bg {
      top: 46vw;
    }
  }
}
