.header {
  color: lighten($color-scale-white, 40%);
  display: flex;
  padding: $padding-4;
  font-size: $font-size--4;
  background-color: $color-scale-green-5;
  position: relative;

  .navbar__link {
    color: lighten($color-scale-white, 40%);
    padding: $padding-4;
    &:hover {
      @extend %transition-shared;
      color: lighten($cs4__primary-color--1, 10%);
      padding: $padding-4;
      z-index: 2;
    }
  }
  .navbar {
    display: flex;
    margin-left: auto;
    overflow: hidden;
  }

  .hamburgerMenu {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

    .bar {
      border-radius: $padding-sm;
      padding: $padding-sm;
      height: 2px;
      width: initial;
      margin: 2px;
      background-color: $cs4__secondary-color--1;
    }
  }
}
