// <!-- Standard media query
// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV. -->

@media only screen and (max-width: 480px) {
  .header {
    background-color: $cs2__primary-color--3;
    margin: auto;
    .logo {
      padding-top: $n-2;
      color: $cs2__secondary-color--2;
    }
    .navbar {
      transition: transform 0.5s ease-in;
      display: none;
      position: relative;
      background-color: $cs2__primary-color--3;
      height: 100vh;
      padding-top: 20%;
      animation: slide 1s ease-in;

      .navbar__item {
        padding: $padding-1;
      }
      .navbar__link {
        color: $cs2__secondary-color--3;
      }
    }
    .hamburgerMenu {
      padding-top: inherit;
      margin-left: auto;
      height: 30px;
      width: 30px;
      display: flex;
      .bar {
        height: 2px;
        width: auto;
        background-color: $cs2__secondary-color--2 !important;
      }

      .change {
        transition: transform 0.5s ease-in;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -8px);
        }
      }
    }
  }

  // LEARNING HISTORY PAGE
  .learning-history {
    background-color: $color-scale-gray-9;
    color: $color-scale-white;
    display: flex;
    flex-direction: column;
    .section-header {
      color: $color-scale-green-1;
      background-color: $color-scale-green-5;

      h1 {
        font-size: $n-3;
      }
    }
    .learning-history__container {
      min-height: 100vh;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6rem 4rem;

      .timeline {
        height: auto;
        max-width: 100%;

        &::before {
          content: "";
          top: 0;
          left: -30%;
          width: $sm-0;
          height: 100%;
          background-color: $color-scale-green-5;
        }

        li {
          width: auto;
          position: relative;
          background-color: $color-scale-green-5;
          border-radius: $sm-2;
          margin-bottom: $xl-3;

          &::before {
            content: "";
            height: $n-2;
            width: $n-2;
            border-radius: 50%;
            background-color: $color-scale-gray-3;
            top: 0px;
          }
          &:hover::before {
            background-color: $color-scale-green-6;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        h1 {
          font-weight: 500;
          font-size: $n-2;
          line-height: $n-2;
          margin-bottom: $sm-1;
        }

        p {
          font-size: $n-1;
          line-height: $n-1;
          font-weight: 300;
        }

        .date {
          position: absolute;
          top: -30px;
          font-size: $n-1;
          font-weight: 400;
          margin-bottom: $sm-2;
          letter-spacing: $sm-0;
          color: $color-scale-green-6;
        }
        .current_learning {
          color: $color-scale-yellow-5;
          position: absolute;
          top: 0;
          left: 80%;
          transform: translateY(15px);
        }
      }
    }
  }
}
