@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap");
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: rotate 3s;
    transition: rotate 3s;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: rotate 3s;
    transition: rotate 3s;
  }
}

@-webkit-keyframes slide_Top {
  0% {
    top: 100vw;
  }
  100% {
    top: 22vw;
  }
}

@keyframes slide_Top {
  0% {
    top: 100vw;
  }
  100% {
    top: 22vw;
  }
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.section-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.section-1 .section-1-content {
  font-size: 8rem;
  font-family: "Russo One", sans-serif;
  position: absolute;
  top: 10vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem #bef5cb;
  color: #34d058;
  background-color: rgba(250, 251, 252, 0.2);
  width: 90rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
  z-index: 1;
}

.section-1 .section-1-content h1 {
  font-weight: 700;
}

.section-1 .section-1-content h3 {
  font-size: 6rem;
}

.section-1 .floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(52, 208, 88, 0.8);
  position: absolute;
  top: 22vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 30s infinite, slide_Top 1s ease-in;
          animation: rotate 30s infinite, slide_Top 1s ease-in;
}

.section-1 .floating-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(52, 208, 88, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
}

.section-1 .programming-language {
  position: absolute;
  top: 27vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: delay 3s ease-in;
          animation: delay 3s ease-in;
  -webkit-transition: -webkit-animation 3s;
  transition: -webkit-animation 3s;
  transition: animation 3s;
  transition: animation 3s, -webkit-animation 3s;
}

.section-1 .programming-language i {
  padding: 2rem;
  color: #f6f8fa;
}

.section-1 .programming-language i:hover {
  color: #22863a;
}

.section-1 .landing-page-social {
  position: absolute;
  top: 32vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: delay 3s ease-in;
          animation: delay 3s ease-in;
  -webkit-transition: -webkit-animation 3s;
  transition: -webkit-animation 3s;
  transition: animation 3s;
  transition: animation 3s, -webkit-animation 3s;
}

.section-1 .landing-page-social i {
  padding-right: 2rem;
  color: rgba(250, 251, 252, 0.7);
}

.section-1 .landing-page-social i:hover {
  opacity: 1;
  color: #6a737d;
}

@media only screen and (max-width: 1400px) {
  .section-1 .section-1-content {
    font-size: 6rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 5rem;
  }
  .section-1 .floating-bg {
    top: 30vw;
  }
  .section-1 .programming-language {
    top: 32vw;
  }
  .section-1 .programming-language i {
    font-size: 4rem;
  }
  .section-1 .landing-page-social {
    top: 39vw;
  }
  .section-1 .landing-page-social i {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1150px) {
  .section-1 .section-1-content {
    font-size: 4rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 3rem;
  }
  .section-1 .floating-bg {
    top: 28vw;
  }
  .section-1 .programming-language {
    top: 32vw;
  }
  .section-1 .programming-language i {
    font-size: 3rem;
  }
  .section-1 .landing-page-social {
    top: 40vw;
  }
  .section-1 .landing-page-social i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .section-1 .section-1-content {
    font-size: 3rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 2rem;
  }
  .section-1 .floating-bg {
    top: 30vw;
  }
  .section-1 .programming-language {
    top: 38vw;
  }
  .section-1 .programming-language i {
    padding: 1rem;
    font-size: 2.4rem;
  }
  .section-1 .landing-page-social {
    top: 44vw;
  }
  .section-1 .landing-page-social i {
    padding: 1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 50% !important;
  }
  .section-1 .section-1-content {
    top: 15vw;
  }
  .section-1 .floating-bg {
    top: 45vw;
  }
  .section-1 .programming-language {
    top: 55vw;
  }
  .section-1 .landing-page-social {
    top: 60vw;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 45% !important;
  }
  .section-1 .section-1-content {
    top: 25vw;
  }
  .section-1 .floating-bg {
    top: 55vw;
  }
  .section-1 .programming-language {
    top: 70vw;
  }
  .section-1 .landing-page-social {
    top: 80vw;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 40% !important;
  }
  .section-1 .section-1-content {
    height: auto;
    top: 35vw;
  }
  .section-1 .floating-bg {
    top: 50rem;
  }
  .section-1 .programming-language {
    top: 60rem;
  }
  .section-1 .landing-page-social {
    top: 65rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "Rokkitt", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */