@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap");
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: rotate 3s;
    transition: rotate 3s;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: rotate 3s;
    transition: rotate 3s;
  }
}

@-webkit-keyframes slide_Top {
  0% {
    top: 100vw;
  }
  100% {
    top: 22vw;
  }
}

@keyframes slide_Top {
  0% {
    top: 100vw;
  }
  100% {
    top: 22vw;
  }
}

@-webkit-keyframes slide_bottom {
  0% {
    top: -170vw;
  }
  100% {
    top: -140vw;
  }
}

@keyframes slide_bottom {
  0% {
    top: -170vw;
  }
  100% {
    top: -140vw;
  }
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.section-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.section-1 .section-1-content {
  font-size: 8rem;
  font-family: "Russo One", sans-serif;
  position: absolute;
  top: 10vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem #bef5cb;
  color: #34d058;
  background-color: rgba(250, 251, 252, 0.2);
  width: 90rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
  z-index: 1;
}

.section-1 .section-1-content h1 {
  font-weight: 700;
}

.section-1 .section-1-content h3 {
  font-size: 6rem;
}

.section-1 .floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(52, 208, 88, 0.8);
  position: absolute;
  top: 22vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 30s infinite, slide_Top 1s ease-in;
          animation: rotate 30s infinite, slide_Top 1s ease-in;
}

.section-1 .floating-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(52, 208, 88, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
}

.section-1 .programming-language {
  position: absolute;
  top: 27vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: delay 3s ease-in;
          animation: delay 3s ease-in;
  -webkit-transition: -webkit-animation 3s;
  transition: -webkit-animation 3s;
  transition: animation 3s;
  transition: animation 3s, -webkit-animation 3s;
}

.section-1 .programming-language i {
  padding: 2rem;
  color: #f6f8fa;
}

.section-1 .programming-language i:hover {
  color: #22863a;
}

.section-1 .landing-page-social {
  position: absolute;
  top: 32vw;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: delay 3s ease-in;
          animation: delay 3s ease-in;
  -webkit-transition: -webkit-animation 3s;
  transition: -webkit-animation 3s;
  transition: animation 3s;
  transition: animation 3s, -webkit-animation 3s;
}

.section-1 .landing-page-social i {
  padding-right: 2rem;
  color: rgba(250, 251, 252, 0.7);
}

.section-1 .landing-page-social i:hover {
  opacity: 1;
  color: #6a737d;
}

.section-2 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(52, 208, 88, 0.8);
  position: absolute;
  top: -140vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 30s infinite, slide_bottom 1s ease-in;
          animation: rotate 30s infinite, slide_bottom 1s ease-in;
}

.section-2 .floating-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(52, 208, 88, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
}

.section-2 .section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fafbfc;
  text-align: center;
  opacity: 1;
  text-shadow: 2rem 2rem 4rem #9add9d;
  padding: 5rem 0;
  z-index: 2;
}

.section-2 .project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.section-2 .project-card-container .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  padding: 2rem;
  margin: 2rem;
  background-color: #bef5cb;
  border-radius: 1rem;
  width: 40rem;
}

.section-2 .project-card-container .project-card .project-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  width: 35rem;
  height: 30rem;
}

.section-2 .project-card-container .project-card .project-card-heading {
  margin-top: 2rem;
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
  color: #34d058;
}

.section-2 .project-card-container .project-card .project-card-description {
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  text-align: justify;
}

.section-2 .project-card-container .project-card .used-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 .project-card-container .project-card .used-language i {
  color: #28a745;
  padding: 0.5rem;
}

.section-2 .project-card-container .project-card .project-card-links a {
  padding: 0.5rem;
}

.section-2 .project-card-container .project-card .project-card-links .card-link__live-demo {
  color: #79b8ff;
}

.section-2 .project-card-container .project-card .project-card-links .card-link__source-code {
  color: #586069;
}

.section-3 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem;
}

.section-3 .section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fafbfc;
  text-align: center;
  opacity: 1;
  text-shadow: 2rem 2rem 4rem #9add9d;
  padding: 5rem 0;
  z-index: 2;
}

.section-3 .floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(52, 208, 88, 0.8);
  position: absolute;
  top: -140vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 30s infinite, slide_bottom 1s ease-in;
          animation: rotate 30s infinite, slide_bottom 1s ease-in;
}

.section-3 .floating-bg::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(52, 208, 88, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
}

.section-3 ul {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section-3 ul li {
  -webkit-box-shadow: 1rem 1rem 3rem #bef5cb;
          box-shadow: 1rem 1rem 3rem #bef5cb;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5rem;
  margin-right: 10rem;
  color: #fff;
  background-color: #85e89d;
  padding: 5rem;
  cursor: pointer;
}

.section-3 ul li:hover {
  background-color: #34d058;
}

.section-3 ul .active {
  background-color: #34d058;
}

.section-3 .hidden {
  height: 70%;
  width: 50%;
  display: none;
}

.section-3 .hidden .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
}

.section-3 .hidden .content h2 {
  font-size: 8rem;
  font-weight: 600;
  padding: 2rem;
}

.section-3 .hidden .content p {
  padding: 0 4rem;
}

@media only screen and (max-width: 1400px) {
  .section-1 .section-1-content {
    font-size: 6rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 5rem;
  }
  .section-1 .floating-bg {
    top: 30vw;
  }
  .section-1 .programming-language {
    top: 32vw;
  }
  .section-1 .programming-language i {
    font-size: 4rem;
  }
  .section-1 .landing-page-social {
    top: 39vw;
  }
  .section-1 .landing-page-social i {
    font-size: 3rem;
  }
  .section-2 {
    height: auto;
    padding: 0rem 1rem;
  }
  .section-2 .section-heading {
    font-size: 5rem;
  }
  .section-2 .floating-bg {
    top: -135vw;
  }
  .section-2 .project-card-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-perspective: 70rem;
            perspective: 70rem;
  }
  .section-2 .project-card-container .project-card {
    width: 30rem;
    position: relative;
    -webkit-box-shadow: 1rem 1rem 1rem #dcffe4;
            box-shadow: 1rem 1rem 1rem #dcffe4;
    -webkit-perspective: 40rem;
            perspective: 40rem;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    opacity: 0.8;
  }
  .section-2 .project-card-container .project-card:hover {
    -webkit-transform: rotateX(0deg) scale(1) translateY(-1rem);
            transform: rotateX(0deg) scale(1) translateY(-1rem);
    -webkit-box-shadow: 1rem 1rem 2rem #000, -0.75rem -0.75rem 1.5rem #000;
            box-shadow: 1rem 1rem 2rem #000, -0.75rem -0.75rem 1.5rem #000;
    z-index: 3;
    background-color: #dcffe4;
    opacity: 1;
  }
  .section-2 .project-card-container .project-card:hover .project-img {
    -webkit-box-shadow: 1rem 1rem 2rem #85e89d;
            box-shadow: 1rem 1rem 2rem #85e89d;
    -webkit-transform: rotateY(0deg) scale(1.1);
            transform: rotateY(0deg) scale(1.1);
  }
  .section-2 .project-card-container .project-card .btn-project-details {
    right: 3%;
    bottom: 3%;
    height: 2rem;
    width: 2rem;
    background-color: #7fe6b3;
    position: absolute;
    z-index: 20;
    border-radius: 20%;
    -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #28a745;
            box-shadow: 0.2rem 0.2rem 0.4rem #28a745;
    cursor: pointer;
  }
  .section-2 .project-card-container .project-card .btn-project-details.change {
    -webkit-box-shadow: 0.2rem 0.2rem 0.4rem #000;
            box-shadow: 0.2rem 0.2rem 0.4rem #000;
    background-color: #e67f7f;
  }
  .section-2 .project-card-container .project-card .project-img {
    width: 25rem;
    height: 25rem;
    -webkit-box-shadow: 1rem 1rem 1.5rem #aaa, -0.75rem -0.75rem 0.75rem #eee;
            box-shadow: 1rem 1rem 1.5rem #aaa, -0.75rem -0.75rem 0.75rem #eee;
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .section-2 .project-card-container .project-card .project-card-heading {
    font-size: 2rem;
  }
  .section-2 .project-card-container .project-card .project-details {
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    text-align: center;
    position: absolute;
    padding: 2rem 2rem;
    background-color: rgba(40, 167, 69, 0.9);
    color: #fff;
    height: 100%;
    border-radius: 2%;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  .section-2 .project-card-container .project-card .project-details.change {
    -webkit-transform: scale(0);
            transform: scale(0);
    border-radius: 100%;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .section-2 .project-card-container .project-card .project-details .used-language {
    font-size: 1rem;
  }
  .section-2 .project-card-container .project-card .used-language {
    padding: 0;
    top: 25rem;
    padding: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    z-index: 10;
  }
  .section-2 .project-card-container .project-card .used-language i {
    color: #dcffe4;
  }
  .section-2 .project-card-container .project-card .project-card-links {
    padding-top: 1rem;
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 1150px) {
  .section-1 .section-1-content {
    font-size: 4rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 3rem;
  }
  .section-1 .floating-bg {
    top: 28vw;
  }
  .section-1 .programming-language {
    top: 32vw;
  }
  .section-1 .programming-language i {
    font-size: 3rem;
  }
  .section-1 .landing-page-social {
    top: 40vw;
  }
  .section-1 .landing-page-social i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .section-1 .section-1-content {
    font-size: 3rem;
    top: 10vw;
    width: 70rem;
  }
  .section-1 .section-1-content h3 {
    font-size: 2rem;
  }
  .section-1 .floating-bg {
    top: 30vw;
  }
  .section-1 .programming-language {
    top: 38vw;
  }
  .section-1 .programming-language i {
    padding: 1rem;
    font-size: 2.4rem;
  }
  .section-1 .landing-page-social {
    top: 44vw;
  }
  .section-1 .landing-page-social i {
    padding: 1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 50% !important;
  }
  .section-1 .section-1-content {
    top: 15vw;
  }
  .section-1 .floating-bg {
    top: 45vw;
  }
  .section-1 .programming-language {
    top: 55vw;
  }
  .section-1 .landing-page-social {
    top: 60vw;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 45% !important;
  }
  .section-1 .section-1-content {
    top: 25vw;
  }
  .section-1 .floating-bg {
    top: 55vw;
  }
  .section-1 .programming-language {
    top: 70vw;
  }
  .section-1 .landing-page-social {
    top: 80vw;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 40% !important;
  }
  .section-1 .section-1-content {
    height: auto;
    top: 35vw;
  }
  .section-1 .floating-bg {
    top: 50rem;
  }
  .section-1 .programming-language {
    top: 60rem;
  }
  .section-1 .landing-page-social {
    top: 65rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "Rokkitt", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wb-body {
  background-color: #fff;
  font-size: 4rem;
  padding: 1rem 10rem;
}

.wb-body h1,
.wb-body h2,
.wb-body h3,
.wb-body h4 {
  font-weight: 700;
  color: #28a745;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}

.wb-body p {
  text-align: justify;
}
/*# sourceMappingURL=main.css.map */